body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #b41f7b;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #b41f7b;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.button:hover {
  background-color: #8c155e;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #777;
}
